/*- Custom style -*/

// -- Put custom style under this point -- //

p {
  text-align: justify;
  padding: 1% 0;
}

.post-heading {
  padding: 2.5% 0;
  text-align: center;
}

.logo{
  padding: 1% 0 2% 0;
}

.navigation-page-links{
}

.navigation-page-links > a{
  display: inline-block;
  margin: 0% auto;
  padding: 0%;
  margin-top: 2.5%;
}

.header{
  position: fixed;
}

.read-more {
  font-weight: normal;
  color:#111;
}

.active-link {
  border: 1px solid #000;
  font-weight: bold;
  color: #000;
}
